@charset "UTF-8";
/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
    - fix for the content editable attribute will work properly.
    - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8rem;
  word-break: break-all;
  scroll-behavior: smooth;
  font-size: 10px;
}
@media (min-width: 768px) and (max-width: 880px) {
  html {
    font-size: 1.1363636364vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 2.6666666667vw;
  }
}
html {
  color: rgb(0, 0, 0);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 500;
  font-family: "Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  letter-spacing: 0;
}

@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

#container {
  width: 100%;
  overflow: hidden;
}

.inner {
  width: 88rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .inner {
    width: 33.5rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
  height: 80px;
}
@media (max-width: 767px) {
  .header {
    height: 50px;
  }
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__image {
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .header__image {
    width: 3.03rem;
  }
}
.header__logo a {
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 700;
  text-decoration: none;
  display: block;
}
@media (max-width: 767px) {
  .header__logo a {
    font-size: 1.3rem;
  }
}
.header__logo a span {
  font-size: 1.5rem;
  line-height: 1.5333333333;
}
@media (max-width: 767px) {
  .header__logo a span {
    font-size: 1.3rem;
  }
}
.header__nav.pc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.3rem;
     -moz-column-gap: 3.3rem;
          column-gap: 3.3rem;
  list-style: none;
  font-weight: 700;
}
.header__nav.pc ul li a {
  font-size: 1.7rem;
  text-decoration: none;
}
.header .nav-contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #D50000;
  color: #fff;
  width: 15rem;
  height: 4.5rem;
  font-weight: 700;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  font-size: 1.5rem;
}
.header .nav-contact a:hover {
  opacity: 0.7;
}

/* ハンバーガーメニュー全体 */
.hamburger {
  display: none;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
    position: absolute;
    width: 7.1rem;
    height: 50px;
    background: rgb(203, 0, 0);
    margin-left: auto;
    z-index: 999;
    border: none;
    right: 0;
  }
  .hamburger span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .hamburger span:nth-of-type(1) {
    top: 30%;
  }
  .hamburger span:nth-of-type(3) {
    top: 70%;
  }
  .hamburger.is-active span:nth-of-type(1) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .hamburger.is-active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger.is-active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* ナビゲーション（中身） */
.header-menu {
  display: none;
}
@media (max-width: 767px) {
  .header-menu {
    display: block;
    position: fixed;
    width: 30rem;
    height: 34.8rem;
    top: 5rem;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    background: #fff;
    z-index: 200;
  }
  .header-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header-menu ul {
    margin: 0;
    padding: 3rem 0 3rem 2rem;
    text-align: left;
    list-style: none;
    font-size: 1.8rem;
    color: #fff;
  }
  .header-menu ul li:not(:last-of-type) {
    margin-bottom: 25px;
  }
  .header-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .header-menu ul li a:hover {
    opacity: 0.7;
  }
}

/* 黒背景（オーバーレイ） */
.overlay {
  display: none;
}
@media (max-width: 767px) {
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    z-index: 10;
  }
  .overlay.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.fv {
  position: relative;
  padding-top: 80px;
}
@media (max-width: 767px) {
  .fv {
    padding-top: 50px;
  }
}
.fv__contents {
  position: relative;
  width: 100%;
}
.fv-slide__image {
  width: 100%;
  aspect-ratio: 1080/470;
}
@media (max-width: 767px) {
  .fv-slide__image {
    aspect-ratio: 375/550;
  }
}
.fv__catch {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 200;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 767px) {
  .fv__catch {
    font-size: 3rem;
    line-height: 1.6666666667;
  }
}

.about {
  padding: 6.6rem 0 5.4rem;
  text-align: center;
}
@media (max-width: 767px) {
  .about {
    padding: 4.7rem 0 3.3rem;
  }
}
.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: rgb(203, 0, 0);
  line-height: 1.4285714286;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}
.about__lead {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  margin-top: 1.7rem;
}
@media (max-width: 767px) {
  .about__lead {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
    margin-top: 0.6rem;
  }
}
.about__keywords {
  position: relative;
  margin: 0 auto;
  margin-top: 3.5rem;
}
@media (max-width: 767px) {
  .about__keywords {
    margin-top: 2rem;
  }
}
.about__arc {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}
.about__diagram {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 2;
}
.about__arrow {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
}
.about__arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.7rem;
  -webkit-transform: translateX(-50%) translateY(-40%) rotate(-45deg);
          transform: translateX(-50%) translateY(-40%) rotate(-45deg);
  width: 2.5rem;
  height: 2.5rem;
  border-top: 3px solid rgb(203, 0, 0);
  border-right: 3px solid rgb(203, 0, 0);
  border-radius: 1px;
}
@media (max-width: 767px) {
  .about__arrow::before {
    margin-top: 1.7rem;
  }
}
.about__list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__list li:nth-child(1) {
  -webkit-transform: translateX(-9.5%);
          transform: translateX(-9.5%);
  margin-top: 1.8rem;
}
@media (max-width: 767px) {
  .about__list li:nth-child(1) {
    -webkit-transform: translateX(-6.5%);
            transform: translateX(-6.5%);
    margin-top: 3.3rem;
  }
}
.about__list li:nth-child(2) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-top: 1.7rem;
}
@media (max-width: 767px) {
  .about__list li:nth-child(2) {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    margin-top: 1.8rem;
  }
}
.about__list li:nth-child(3) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .about__list li:nth-child(3) {
    -webkit-transform: translateX(2.5%);
            transform: translateX(2.5%);
    margin-top: 1.9rem;
  }
}
.about__list::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  background-color: rgb(203, 0, 0);
  z-index: 1;
}
@media (max-width: 767px) {
  .about__list::before {
    top: 0.3rem;
  }
}
.about__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.about__list .en {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding-right: 3rem;
  font-size: 2.3rem;
  line-height: 2;
  font-weight: 700;
  color: rgb(203, 0, 0);
  white-space: nowrap;
}
@media (max-width: 767px) {
  .about__list .en {
    font-size: 1.8rem;
    line-height: 2.5;
    padding-right: 3rem;
  }
}
.about__list .dot {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  background-color: rgb(203, 0, 0);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .about__list .dot {
    width: 2rem;
    height: 2rem;
  }
}
.about__list .ja {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding-left: 3rem;
  font-size: 2.3rem;
  line-height: 2.1739130435;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .about__list .ja {
    font-size: 2rem;
    line-height: 2.5;
    padding-left: 3rem;
  }
}

.greeting {
  position: relative;
  padding: 6.8rem 0 6rem;
  background: rgb(203, 0, 0);
}
@media (max-width: 767px) {
  .greeting {
    padding: 5rem 0 4rem;
  }
}
.greeting__contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.greeting__title {
  font-size: 3rem;
  line-height: 1.6666666667;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  .greeting__title {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}
.greeting__text {
  margin-top: 3rem;
  font-size: 1.8rem;
  line-height: 1.6666666667;
  text-align: center;
}
@media (max-width: 767px) {
  .greeting__text {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.accordion-area {
  width: 80%;
  margin: 0 auto;
}

.qa-title {
  position: relative;
  padding: 8px;
  border-bottom: solid 1px #222;
  cursor: pointer;
}

.qa-title::after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 1px #222;
  border-right: solid 1px #222;
  -webkit-transform: translate(0, -50%) rotate(135deg);
          transform: translate(0, -50%) rotate(135deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.qa-title.active::after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.qa-text {
  display: none;
  padding: 8px;
}/*# sourceMappingURL=style.css.map */