@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.contact-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    @include sp {
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }
}

.contact-btn.is-show {
    opacity: 1;
    visibility: visible;
}

.contact-btn.is-docked {
    position: absolute;
    opacity: 1;
    visibility: visible;
}

.contact-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 6rem;
    position: relative;
    top: 12%;
    padding-top: 0.7rem;
    font-weight: 700;
    background-color: $color-red;
    color: $color-white;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 0.17em;
    cursor: pointer;
    border: 1px solid $color-red;
    transition: color 0.3s, background-color 0.3s;
    @include sp {
        width: 33.5rem;
        padding-top: 0;
        top: 0;
    }
}

@include hover {
    .contact-btn a:hover {
        @include pc {
            background-color: $color-white;
            color: $color-red;
            opacity: 1;
        }
    }
}
