@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.page-header {
    background-color: $color-pink;
    padding: 5rem 0;
    text-align: center;
    @include sp {
        padding: 3.5rem 0;
    }
}

.page-header__title {
    font-size: 3.5rem;
    font-weight: 700;
    color: $color-red;
    line-height: calc(50 / 35);
    @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
    }
}
