@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.pagination {
    margin-top: 5.8rem;
    @include pc {
        margin-top: 7rem;
    }
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination__list .wp-pagenavi {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    @include sp {
        column-gap: 0.5rem;
    }
}

.pagination__list .wp-pagenavi .current,
.pagination__list .wp-pagenavi a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border: 1px solid #333333;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
    @include pc {
        width: 5rem;
        height: 5rem;
    }
}

.pagination__list .wp-pagenavi .current {
    background-color: #333333;
    border-color: #333333;
    color: $color-white;
}

.pagination__list .wp-pagenavi .extend {
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
}

@include hover {
    .pagination__list .wp-pagenavi a:hover {
        background-color: #333333;
        color: $color-white;
        opacity: 1;
    }
}
