@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

body {
    margin: 0;
    box-sizing: border-box;
}
.slide-area{
    background-color: $color-white;
    padding: 5rem 0;
}
.swiper-wrapper {
    transition-timing-function: ease-in-out;
}
.swiper-slide span {
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: $color-white;
    line-height: 1;
    letter-spacing: 0.05em;
}