@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// ベーススタイル（全ページ共通）
.breadcrumb {
    background: $color-grey;
}

.breadcrumb__list {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    list-style: none;
    font-size: 1.6rem;
    line-height: 1.14;
}


.breadcrumb__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 3.6rem;
    @include pc {
        height: 5rem;
    }
}

.breadcrumb__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.3s;
}

@include hover {
    .breadcrumb__link:hover {
        opacity: 0.7;
    }
}

.breadcrumb__item:not(:last-child) {
    white-space: nowrap;
}

.breadcrumb__item:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 3rem;
}

.breadcrumb__item:not(:last-child)::after {
    content: '>';
    margin-left: 2rem;
    margin-right: 2rem;
    color: $color-black;
    position: relative;
    @include pc {
        margin-right: 2.2rem;
        top: -0.1rem;
    }
}

.page-result-details .breadcrumb__item:nth-child(1)::after {
    margin-left: 2rem;
    margin-right: 2rem;
    @include pc {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
.page-result-details .breadcrumb__item:nth-child(2)::after {
    margin-left: 2.3rem;
    margin-right: 2.1rem;
    @include pc {
        margin-left: 2rem;
        margin-right: 2.3rem;
    }
}
.page-result-details .breadcrumb__item:nth-child(3)::after {
    margin-left: 2rem;
    margin-right: 2rem;
    @include pc {
        margin-left: 2rem;
        margin-right: 1.9rem;
    }
}

.breadcrumb__item:has(.breadcrumb__link) {
    padding: 0;
}

