@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;
    .breadcrumb {
        padding: 1rem 0 0.47rem;
        background: $color-grey;
        @include sp {
            padding: 0.3rem 0 0rem;
        }
    }

    .breadcrumb__list {
        display: flex;
        align-items: center;
        gap: 1.8rem;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
        line-height: calc(33 / 16);
    }

    .breadcrumb__item {
        color: $color-black;
    }

    .breadcrumb__item:not(:last-child)::after {
        content: '>';
        margin-left: 2rem;
        color: $color-black;
    }

    .breadcrumb__item a {
        color: $color-black;
        text-decoration: none;
    }