@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.page-404 {
    .fv__catch {
        top: 51%;
    }

    .not-found {
        padding: 6.9rem 0 9rem;
        text-align: center;
        @include sp {
            padding: 4.2rem 0 5rem;
        }
    }

    .not-found__text {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        text-align: center;
        @include sp {
            font-size: 1.6rem;
            line-height: calc(30 / 16);
            text-align: left;
        }
    }

    .not-found__btn {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        @include sp {
            margin-top: 0.9rem;
        }
    }

    .not-found__btn a {
        width: 25rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-red;
        color: $color-white;
        font-size: 2.5rem;
        font-weight: 700;
        transition: background-color 0.3s, color 0.3s;
        @include sp {
            width: 100%;
            font-size: 2rem;
        }

        @include hover {
            &:hover {
                @include pc {
                    background-color: $color-white;
                    color: $color-red;
                    opacity: 1;
                }
            }
        }
    }
}
