@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.page-plan {
    // 料金体系セクション
    .plan-overview {
        padding: 6.7rem 0 5.8rem;
        @include sp {
            padding: 4.6rem 0 3.3rem;
        }
    }

    .plan-overview__title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: calc(40 / 25);
    }

    .plan-overview__fee-items {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.7rem;
        gap: 3rem;
        @include sp {
            flex-direction: column;
            margin-top: 3.8rem;
            gap: 1.3rem;
        }
    }

    .plan-overview__fee-item {
        background-color: $color-red;
        width: 21rem;
        height: 6rem;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        line-height: calc(33 / 20);
        font-weight: 700;
    }

    .plan-overview__fee-item:last-child {
        @include sp {
            margin-top: 0.8rem;
        }
    }

    .plan-overview__fee-plus {
        position: relative;
        display: block;
        width: 1.85rem;
        height: 1.85rem;
        margin-top: 0.6rem;
    }

    .plan-overview__fee-plus::before,
    .plan-overview__fee-plus::after {
        content: '';
        position: absolute;
    }

    .plan-overview__fee-plus::before {
        border-left: 3px solid $color-black;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .plan-overview__fee-plus::after {
        border-top: 3px solid $color-black;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .plan-overview__desc {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        margin-top: 4.8rem;
        position: relative;
        right: 0.4rem;
        @include sp {
            font-size: 1.6rem;
            line-height: calc(30 / 16);
            margin-top: 4.7rem;
            right: 0;
        }
    }

    // プラン内容・月額料金テーブルセクション
    .plan-table {
        padding: 0 0 22.3rem;
        @include sp {
            padding: 0.5rem 0 18.7rem;
            margin-top: 0;
        }
    }

    .plan-table__title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: calc(40 / 25);
    }

    .plan-table__wrapper {
        margin-top: 4.7rem;
        @include sp {
            overflow-x: scroll;
            margin-top: 0rem;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .plan-table__head-row {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-top: 3.2rem;
        @include sp {
            margin-top: 2.1rem;
        }
    }

    .plan-table__head-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-shrink: 0;
    }

    .plan-table__head-cell--label {
        width: 22rem;
        flex-shrink: 0;
        @include sp {
            width: 16.7rem;
        }
    }

    .plan-table__col-label {
        width: 22rem;
        @include sp {
            width: 16.7rem;
        }
    }

    .plan-table__col-spacer {
        width: 0;
        @include sp {
            width: 0;
        }
    }

    .plan-table__col-plan {
        @include sp {
            width: 16.7rem;
        }
    }

    .plan-table__col-basic {
        width: 22rem;
        @include sp {
            width: 16.7rem;
        }
    }

    .plan-table__badge {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        color: $color-white;
        margin-top: 1.5rem;
    }

    .plan-table__dot {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background: $color-black;
        margin: 1rem auto 0.7rem;
        @include sp {
            margin: 0rem auto 0.7rem;
        }
    }

    .plan-table__dash {
        display: block;
        width: 3rem;
        height: 1px;
        background: rgba(112, 112, 112, 1);
        position: relative;
        top: 0rem;
        left: 9.5rem;
        @include sp {
            top: -0.4rem;
            left: 6rem;
        }
    }

    .plan-table__sub-text {
        display: block;
        @include sp {
            font-size: 1.7rem;
            position: relative;
            left: 0.2rem;
        }
    }

    .plan-table__table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        white-space: nowrap;
        table-layout: fixed;
        @include sp {
            white-space: normal;
            width: 66.8rem;
        }
    }

    .plan-table__head-black {
        background: $color-black;
        color: $color-white;
        flex: 1;
        height: 4.9rem;
        font-size: 2rem;
        line-height: calc(33 / 20);
        font-weight: 700;
        @include sp {
            flex: none;
            width: 16.7rem;
            height: 6.6rem;
            line-height: calc(25 / 20);
        }
    }

    .plan-table__head-basic {
        flex: none;
        width: 22rem;
        border-right: 0.5px solid $color-black;
        @include sp {
            width: 16.7rem;
            border-right: none;
        }
    }

    .plan-table__head-spacer {
        width: 0;
        flex-shrink: 0;
        overflow: hidden;
    }

    .plan-table__head-red {
        background: $color-red;
        position: relative;
        flex: 1;
        height: 8rem;
        width: 22rem;
        padding: 3rem 0rem 0.7rem;
        color: $color-white;
        font-size: 2rem;
        font-weight: 700;
        align-items: flex-end;
        @include sp {
            flex: none;
            width: 16.7rem;
            height: 8rem;
            padding: 3rem 1.5rem 0.7rem;
        }
    }



    .plan-table__table tbody tr:nth-child(even) {
        background: $color-grey;
    }

    .plan-table__table tbody tr td {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        border-right: 0.5px solid $color-black;
        vertical-align: middle;
        @include sp {
            font-size: 1.6rem;
            line-height: 1.55;
            width: 16.7rem;
            height: 8.5rem;
            padding: 1.1rem 1rem 0.45rem;
        }
    }

    .plan-table__table tbody tr td:last-child {
        border-right: none;
    }

    .plan-table__table tbody tr td:nth-child(2) {
        @include sp {
            border-right: 0.5px solid $color-black;
        }
    }

    .plan-table__table tbody tr td.plan-table__spacer {
        padding: 0;
        border: none;
        border-bottom: 0.5px solid $color-black;
        background: $color-white;
        @include sp {
            overflow: hidden;
        }
    }

    .plan-table__table tbody tr td.is-recommended {
        font-weight: 700;
    }

    .plan-table__table tbody tr td.is-recommended .plan-table__dot {
        background-color: $color-red;
    }

    // 月額料金行
    .plan-table__table tbody tr:nth-child(1) {
        border-top: 0.5px solid $color-black;
        position: relative;
        top: 2px;
        @include sp {
            top: 0;
        }
    }

    .plan-table__table tbody tr:nth-child(1) .plan-table__label {
        font-weight: 700;
    }

    .plan-table__table tbody tr:nth-child(1) td:not(.plan-table__label):not(.plan-table__spacer) {
        font-size: 2.2rem;
        font-weight: 700;
    }

    .plan-table__table tbody tr:last-child td:not(.plan-table__spacer) {
        border-bottom: 0.5px solid $color-black;
    }

    .plan-table__table tbody tr td.is-price {
        color: $color-red;
    }

    .plan-table__label {
        text-align: left;
        padding-left: 2rem;
        width: 22rem;
        height: 8.5rem;
        font-weight: 500;
        border-right: 1px solid #ddd;
        @include sp {
            width: 16.7rem;
            height: 5rem;
            padding-left: 1.5rem;
        }
    }


    .plan-table__scrollbar {
        display: none;
        @include sp {
            display: block;
            position: relative;
            height: 23px;
            background: rgba(80, 80, 80, 0.15);
            margin-top: 1.75rem;
            margin-left: 1.2rem;
            &::before {
                content: "";
                position: absolute;
                right: 100%;
                top: 0;
                width: 1.2rem;
                height: 100%;
                background: rgba(80, 80, 80, 0.15);
            }
        }
    }

    .plan-table__scrollbar-thumb {
        @include sp {
            position: absolute;
            top: 0;
            left: 0;
            width: 10rem;
            height: 100%;
            background: rgba(80, 80, 80, 0.25);
            border-radius: 2px;
            cursor: grab;
            &:active {
                cursor: grabbing;
            }
        }
    }

    .plan-table__note {
        font-size: 1.7rem;
        line-height: calc(25 / 17);
        margin-top: 2.8rem;
        @include sp {
            font-size: 1.6rem;
            line-height: calc(30 / 16);
            margin-top: 1.8rem;
        }
    }
}
