@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.post-type-archive-result,
.tax-genre {
    .pagination {
        margin-top: 5.8rem;
        @include pc {
            margin-top: 7.2rem;
        }
    }

    .pagination__list .wp-pagenavi .current,
    .pagination__list .wp-pagenavi a {
        border-color: $color-black;
        color: $color-black;
    }

    .pagination__list .wp-pagenavi .current {
        background-color: $color-black;
        border-color: $color-black;
        color: $color-white;
    }
}

@include hover {

    .post-type-archive-result .pagination__list .wp-pagenavi a:hover,
    .tax-genre .pagination__list .wp-pagenavi a:hover {
        background-color: $color-black;
        color: $color-white;
        opacity: 1;
    }
}

.result-list {
    padding: 4rem 0 8rem;
    @include pc {
        padding: 6.6rem 0 21rem;
    }
}

.result-list__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    @include pc {
        font-size: 2.5rem;
    }
}

.result-list__items {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-top: 3rem;
    @include pc {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10.6rem;
        margin-top: 4rem;
    }

    // 2段目以降
    & > :nth-child(n+3) {
        margin-top: 3.5rem;
        @include pc {
            margin-top: 6.2rem;
        }
    }

    // 3段目以降
    & > :nth-child(n+5) {
        margin-top: 3.5rem;
        @include pc {
            margin-top: 7.2rem;
        }
    }
}

.result-list-item {
    display: block;
}

.result-list-item__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 387 / 273;
    @include pc {
        width: 38.7rem;
    }
}

.result-list-item__category {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $color-red;
    color: $color-white;
    font-size: 1.2rem;
    line-height: calc(25 / 15);
    font-weight: 700;
    min-width: 10rem;
    height: 3rem;
    padding: 0 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include pc {
        font-size: 1.5rem;
    }
}

.result-list-item__body {
    margin-top: 1rem;
    @include pc {
        margin-top: 1.9rem;
    }
}

.result-list-item__text {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: calc(25 / 20);
    @include pc {
        font-size: 2rem;
    }
}

.result-list-item__date {
    margin-top: 0.7rem;
    font-size: 1.2rem;
    line-height: calc(32 / 18);
    text-align: right;
    @include pc {
        font-size: 1.8rem;
        margin-top: 1rem;
    }
}

.result-list__empty {
    margin-top: 6rem;
    padding: 6rem 0;
    font-size: 1.6rem;
    text-align: center;
    @include pc {
        margin-top: 4rem;
        padding: 8rem 0;
        font-size: 1.8rem;
    }
}
