@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.result-list {
    padding: 6.8rem 0 21.2rem;
    @include sp {
        padding: 4rem 0 8rem;
    }
}

.result-list__title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    @include sp {
        font-size: 2rem;
    }
}

.result-list__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10.6rem;
    margin-top: 4rem;
    @include sp {
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-top: 3rem;
    }

    // 2段目以降
    & > :nth-child(n+3) {
        margin-top: 6.2rem;
        @include sp {
            margin-top: 3.5rem;
        }
    }

    // 3段目以降
    & > :nth-child(n+5) {
        margin-top: 7.2rem;
        @include sp {
            margin-top: 3.5rem;
        }
    }
}

.result-list-item {
    display: block;
}

.result-list-item__image {
    position: relative;
    overflow: hidden;
    width: 38.7rem;
    height: 27.3rem;
    @include sp {
        width: 100%;
        height: auto;
        aspect-ratio: 387 / 273;
    }
}

.result-list-item__category {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $color-red;
    color: $color-white;
    font-size: 1.5rem;
    line-height: calc(25 / 15);
    font-weight: 700;
    width: 10rem;
    height: 3rem;
    text-align: center;
    @include sp {
        font-size: 1.2rem;
    }
}

.result-list-item__body {
    margin-top: 1.9rem;
    @include sp {
        margin-top: 1rem;
    }
}

.result-list-item__text {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25 / 20);
    @include sp {
        font-size: 1.4rem;
    }
}

.result-list-item__date {
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: calc(32 / 18);
    text-align: right;
    @include sp {
        font-size: 1.2rem;
        margin-top: 0.7rem;
    }
}
