@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.page-search {
    .search {
        padding: 6.8rem 0 21rem;
        @include sp {
            padding: 0.7rem 0 20.4rem;
        }
    }

    .search__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search__keyword {
        font-size: 1.8rem;
        @include sp {
            margin-top: 3rem;
        }
    }

    .search__keyword-text {
        font-weight: 700;
    }

    .search__count {
        font-size: 1.8rem;
        @include sp {
            margin-top: 2.8rem;
        }
    }

    .search__items {
        display: flex;
        flex-direction: column;
        margin-top: 4.3rem;
    }

    .search-item {
        display: flex;
        gap: 5rem;
        @include sp {
            flex-direction: column;
            gap: 1.5rem;
        }
        &:nth-child(2) {
            margin-top: 6.7rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(3) {
            margin-top: 7rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(4) {
            margin-top: 7rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(5) {
            margin-top: 7.1rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(6) {
            margin-top: 6.9rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(7) {
            margin-top: 7rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(8) {
            margin-top: 7rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(9) {
            margin-top: 7rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
        &:nth-child(10) {
            margin-top: 7rem;
            @include sp {
                margin-top: 3.9rem;
            }
        }
    }

    .search-item__image {
        position: relative;
        flex-shrink: 0;
        width: 26rem;
        @include sp {
            width: 100%;
        }
    }

    .search-item__category {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 8rem;
        height: 3rem;
        background-color: $color-red;
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sp {
            width: 9rem;
            height: 3rem;
        }
    }

    .search-item__body {
        flex: 1;
        @include sp {
            padding-top: 1.5rem;
        }
    }

    .search-item__title {
        margin-top: -0.5rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: calc(30 / 20);
        @include sp {
            margin-top: 0;
        }
    }

    .search-item__date {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        @include sp {
            margin-top: 0.5rem;
            text-align: right;
        }
    }

    .search-item__text {
        margin-top: 1.2rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: calc(30 / 18);
        @include sp {
            margin-top: 0.9rem;
            font-size: 1.6rem;
            line-height: calc(30 / 16);
        }
    }
}
