@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// reason
.reason {
    position: relative;
    padding: 4.8rem 0 3.9rem;
    background: $color-white;
    @include pc {
        padding: 6.4rem 0 9rem;
    }
}

.reason__contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-black;
}

.reason__title {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    font-weight: 700;
    text-align: center;
    @include pc {
        font-size: 3rem;
        line-height: calc(50 / 30);
        text-align: left;
    }
}

.reason__items {
    display: flex;
    flex-direction: column;
    margin-top: 3.6rem;
    gap: 3.9rem;
    width: 100%;
    @include pc {
        margin-top: 2.8rem;
        gap: 5rem;
    }
}

.reason__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.1rem;
    @include pc {
        flex-direction: row;
        align-items: flex-start;
    }
}

.reason__item:nth-child(2) .reason-item_catch h3,
.reason__item:nth-child(3) .reason-item_catch h3 {
    margin-top: 3.1rem;
    @include pc {
        margin-top: -0.3rem;
    }
}

.reason-item__image {
    width: 100%;
    flex-shrink: 0;
    @include pc {
        width: 35rem;
    }
}

.reason-item_catch {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include pc {
        gap: 3.4rem;
    }
}

.reason-item_catch h3 {
    font-size: 2rem;
    line-height: calc(30 / 20);
    font-weight: 700;
    margin-top: 3.1rem;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid $color-red;
    margin-left: 0;
    padding-left: 0;
    @include pc {
        font-size: 2.2rem;
        line-height: calc(33 / 22);
        margin-top: 0.7rem;
        padding-left: 5rem;
        padding-bottom: 1rem;
    }
}

.reason-item_catch p {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    margin-top: 1.7rem;
    margin-left: 0;
    @include pc {
        margin-top: 3.6rem;
        margin-left: 5rem;
        font-size: 1.8rem;
        line-height: calc(33 / 18);
    }
}
