@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

//blog
.blog {
    position: relative;
    padding: 2rem 0 20.5rem;
    @include sp {
        padding: 0 0 19.7rem;
    }
}

.blog__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
    }
}

.blog__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.8rem;
    row-gap: 5rem;
    @include sp {
        flex-direction: column;
        margin-top: 4rem;
        row-gap: 4.2rem;
    }
}

.blog__item {
    width: 26rem;
    @include sp {
        width: 100%;
    }
}

.blog-item__link {
    display: block;
    color: inherit;
    text-decoration: none;
}

@include hover {
    .blog-item__link:hover img {
        @include pc {
            opacity: 0.7;
        }
    }
}

.blog-item__image {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    @include sp {
        aspect-ratio: 670 / 400;
    }
}

.blog-item__image picture {
    display: block;
}

.blog-item__image img {
    transition: opacity 0.3s;
    @include sp {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.blog-item__category {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 8rem;
    height: 3rem;
    background-color: $color-red;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sp {
        font-size: 1.5rem;
        width: 9rem;
        height: 3rem;
    }
}

.blog-item__text {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
    @include sp {
        margin-top: 3rem;
        line-height: calc(30 / 20);
    }
}

.blog-item__date {
    text-align: right;
    margin-top: 1.1rem;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    @include sp {
        margin-top: 0.5rem;
    }
}

.blog-list-btn {
    margin-top: 3.7rem;
    margin-left: auto;
    width: fit-content;
    text-align: right;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    @include sp {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4.4rem;
        margin-left: 0;
        width: 100%;
    }
}

.blog-list-btn a {
    display: inline-block;
    line-height: 1;
    border-bottom: 0.5px solid $color-black;
}
