@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.about {
    padding: 4.7rem 0 3.5rem;
    text-align: center;
    @include pc {
        padding: 6.6rem 0 5.6rem;
    }
}

.about__title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-red;
    line-height: calc(40 / 25);
    @include pc {
        font-size: 3.5rem;
        line-height: calc(50 / 35);
    }
}

.about__lead {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    margin-top: 0.6rem;
    position: relative;
    right: 0.7rem;

    @include pc {
        transform: translateX(0);
        margin-top: 1.7rem;
        right: 0;
    }
}

.about__keywords {
    position: relative;
    margin: 2rem auto 0;
    @include pc {
        margin: 3.5rem auto 0;
    }
}

.about__arc {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.about__diagram {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
}

.about__arrow {
    position: absolute;
    top: 4.6rem;
    left: 50.4%;
    width: 3.5rem;
    height: 2rem;
    background: url('../images/about-arrow.svg') no-repeat center / contain;
    transform: translateX(-49%);
    z-index: 3;
    @include pc {
        top: 5.5rem;
        left: 50%;
    }
}

.about__list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 4.4rem;
    @include pc {
        margin-top: 6rem;
    }
}

.about__list li:nth-child(1) {
    margin-top: 3.1rem;
    @include pc {
        margin-top: 2.1rem;
    }
}

.about__list li:nth-child(2) {
    margin-top: 1.7rem;
    @include pc {
        margin-top: 1.8rem;
    }
}

.about__list li:nth-child(3) {
    margin-top: 2rem;
    @include pc {
        margin-top: 1.8rem;
    }
}

.about__list::before {
    content: '';
    position: absolute;
    top: 0.3rem;
    bottom: 3rem;
    left: 50.4%;
    transform: translateX(-50%);
    width: 3px;
    background-color: $color-red;
    z-index: 1;
    @include pc {
        top: -0.5rem;
        left: 50%;
    }
}

.about__list li {
    position: relative;
    min-height: 5rem;
    width: 100%;
}

.about__list .en {
    position: absolute;
    top: 50%;
    right: calc(50% + 4rem);
    transform: translateY(-50%);
    text-align: right;
    font-size: 2rem;
    line-height: calc(50 / 22);
    font-weight: 700;
    color: $color-red;
    white-space: nowrap;
    @include pc {
        font-size: 2.5rem;
        line-height: calc(50 / 25);
    }
}

.about__list .dot {
    position: absolute;
    top: 50%;
    left: 50.4%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background-color: $color-red;
    border-radius: 50%;
    @include pc {
        left: 50%;
    }
}

.about__list .ja {
    position: absolute;
    top: 50%;
    left: calc(50% + 4rem);
    transform: translateY(-50%);
    text-align: left;
    font-size: 2rem;
    line-height: calc(50 / 20);
    white-space: nowrap;
    @include pc {
        font-size: 2.3rem;
        line-height: calc(50 / 23);
    }
}
