@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

//voice
.voice {
    position: relative;
    padding: 4.5rem 0 1.4rem;
    background: $color-red;
    @include pc {
        padding: 4.4rem 0 8rem;
    }
}

.voice__title {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    font-weight: 700;
    color: $color-white;
    text-align: center;
    @include pc {
        font-size: 3rem;
        line-height: calc(50 / 30);
    }
}

.voice__swiper {
    margin-top: 4rem;
    @include pc {
        margin-top: 3.6rem;
    }
}

.voice-btn-prev,
.voice-btn-next {
    position: absolute;
    top: 25.3rem;
    width: 3rem;
    height: 4rem;
    padding: 0;
    background: url('../images/swiper.svg') no-repeat center / contain;
    color: transparent;
    z-index: 200;
    cursor: pointer;
    pointer-events: all;
    transition: opacity 0.4s;
    @include pc {
        top: 25.5rem;
    }
}

@include hover {
    .voice-btn-prev:hover,
    .voice-btn-next:hover {
        opacity: 0.7;
    }
}

.voice-btn-prev {
    left: 2rem;
    transform: scaleX(-1);
    @include pc {
        left: 5.5rem;
    }
}

.voice-btn-next {
    right: 2rem;
    @include pc {
        right: 5.6rem;
    }
}

.voice-item__image {
    width: 100%;
    overflow: hidden;
}

.voice-item__link {
    display: block;
    text-decoration: none;
}

@include hover {
    .voice-item__link:hover {
        opacity: 1;
    }
}

.voice-item__img {
    transition: transform 0.4s;
}

@include hover {
    .voice-item:hover .voice-item__img {
        @include pc {
            transform: scale(1.1);
        }
    }
}

.voice-item__text {
    color: $color-white;
    transition: opacity 0.4s;
    margin-top: 2.7rem;
    @include pc {
        margin-top: 1.8rem;
    }
}

@include hover {
    .voice-item:hover .voice-item__text {
        @include pc {
            opacity: 0.7;
        }
    }
}

.voice-item__text h3 {
    font-size: 2.2rem;
    line-height: calc(33 / 22);
    font-weight: 700;
}

.voice-item__text p {
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
}
