@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// fv
.fv {
    position: relative;
    padding-top: 80px;
    
    @include sp {
        padding-top: 50px;
    }

    &__contents {
        position: relative; // absoluteから変更（中身の基準にする）
        width: 100%;
    }
    &-slide__image {
        width: 100%;
        aspect-ratio: 1080 / 470;

        @include sp {
            aspect-ratio: 375 / 550;
        }
    }

    // 文字のエリア（画像の上に重ねる）
    &__catch {
        position: absolute; // 文字だけを浮かせる
        top: 52%;           // 上から50%
        left: 50%;          // 左から50%
        transform: translate(-50%, -50%); // 自分のサイズ分戻して真ん中へ
        
        width: 100%;        // 幅をいっぱいにして中央揃えを効かせる
        text-align: center;
        z-index: 200;

        font-size: 4rem;
        line-height: calc(60 / 40);
        font-weight: 700;
        color: $color-white;

        @include sp {
            font-size: 3rem;
            line-height: calc(50 / 30);
        }
    }
}