@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

// fv
.fv {
    position: relative;
    padding-top: 80px;

    @include sp {
        padding-top: 50px;
    }
}

.fv__contents {
    position: relative;
    width: 100%;
}

.fv-slide__image {
    width: 100%;
    aspect-ratio: 1080 / 200;
    overflow: hidden;

    @include sp {
        aspect-ratio: 375 / 300;
    }
}

.fv-slide__image img {
    height: 100%;
    object-fit: cover;
}

.fv__catch {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 200;
    font-size: 2.5rem;
    line-height: calc(60 / 25);
    font-weight: 700;
    color: $color-white;
}
